.poll {
}
.nav{
    background-color: #f1f1f1;
    height: 100px;
    padding-top: 20px;
}

.img__logo{
    float: left;
}

.title{
    color:black;
}

.nav__items_right{
    float: right;
}

.nav__items_left{
    float: left;
}

.nav__item{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.poll__questions{
    float: left;
    width: 50%;
    padding: 10px;
    height: 869px;
    background-color: #ececec;
}

.poll__settings{
    padding-left: 999px;
}









