.vote {
    text-align: center;

    &__btn {
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid black;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        margin: 1em;

        &--colour-dynamic {
            box-shadow: inset 0px 1px 0px 0px #ff93aa;
            background-color: #ff6384;
            text-shadow: 0px 1px 0px #dd3d5f;
            border: 1px solid #dd3d5f;
            color: #ffffff;

            &:nth-child(2) {
                box-shadow: inset 0px 1px 0px 0px #9cd7ff;
                background-color: #36a2eb;
                text-shadow: 0px 1px 0px #288acc;
                border: 1px solid #288acc;
                color: #ffffff;
            }

            &:nth-child(3) {
                box-shadow: inset 0px 1px 0px 0px #ffdf8e;
                background-color: #ffce56;
                text-shadow: 0px 1px 0px #e7b639;
                border: 1px solid #e7b639;
                color: #ffffff;
            }

            &:nth-child(4) {
                box-shadow: inset 0px 1px 0px 0px #8eff8e;
                background-color: #30b430;
                text-shadow: 0px 1px 0px #279e27;
                border: 1px solid #239c23;
                color: #ffffff;
            }
        }
    }

    .lobbyPin {
        background-color: #000066;
        color: white;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        vertical-align: text-bottom;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5%;
    }
}
