.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
  }
}
