.create__poll_sec{
    background-color: #f1f1f1;
    padding-bottom: 12px;
    margin-left: 12px;
    margin-right: 1200px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px #d4d4d4;
}

.poll-container{
    margin-left: 12px;
}

.create_poll_title{
    margin-left: 12px;
}

/* Create two equal columns that floats next to each other */