.container_join__wrapper{
  text-align: center;
  margin-top: 350px;
}
.poll {
  height: 100vh;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    color: #222222;
  }
}
.txtPin{
  padding: 5px;
  margin: 8px;
  border-radius: 10px;
  border-color: grey;
  width: 450px;
  text-align: center;
  font-size: large;
}
#btnSubmit{
  
}
